.content {
    padding-left: 20px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    background-color: #ffffff;
}