.join-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.join-container {
    width: 85%;
    max-width: 400px;
    height: auto;
    margin-top: -200px;
}